<%-include('partials/header.ejs')%>

<h1>Make Payment</h1>
<div class="putBoarder">
    <h3>Quick One</h3>
    <div class="line-seperator"></div>
    <div class="pay-text">
        <p>Kindly make the payment of <b>N79,900</b><br/>to continue Your Will</p>
    </div>
    <div class="anotherBoader">
        <div class="group-pay">
            <a href="/paysuccess">
                <img src="/images/image 121.png" alt="" >
            </a>
        </div>
        <!-- <form action="/paysuccess" method="POST">
            <div class="group-pay">
                <div class="pay-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="pay-control" id="fname" name="fname" required>
                </div>
                <div class="pay-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="pay-control" id="lname" name="lname" required>
                </div>
                <div class="pay-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="pay-control" id="email" name="email" required>
                </div>
                <div class="pay-group">
                    <label for="amount">Amount to charge</label>
                    <select name="amount" id="currency">
                        <option value="NGN">NGN</option>
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                        <option value="CAD">CAD</option>
                    </select>
                    <input type="number" class="pay-control" id="amount" name="amount" required>
                </div>
                <div>
                    <input type="submit" class="pay-btn" value="Pay Now">
                </div>
            </div>
        </form> -->
    </div>
</div>

<%-include('partials/footer.ejs')%>