<%-include('partials/header.ejs')%>
<div class="h2">
    <h2>Kindly fill the following forms</h2>
</div>

<div class="progress-fix">
    <div>
        <div class="steps">
            <% for(let i = 1; i<= 7; i++) { %>
                <div class="extra"><div class ="step <% i === 1 ? 'active' : '' %>"><%= i %></div></div>
            <% } %>
        </div>
    </div>
    
    <span></span>
    <div class="progress-container">
        <div class="progress-bar"></div>
    </div>
</div>

<iframe src="/other-forms" width="100%" height="600px" style="border: none;"></iframe>


<script>
    const steps = document.querySelectorAll(".step");
    const progressBar = document.querySelector(".progress-bar");

    window.addEventListener("message", function (event) {
        if (event.data?.type === "STEP_CHANGE") {
            const stepIndex = event.data.step;

            // Highlight steps
            steps.forEach((step, index) => {
                step.classList.toggle("active", index === stepIndex);
                step.classList.toggle("pre-active", index < stepIndex);
            });

            // Update progress
            const progressPercent = ((stepIndex + 1) / steps.length) * 100;
            progressBar.style.width = progressPercent + "%";
            if (stepIndex === 7) {
                progressBar.style.width = 100 + "%";
            }
        }
    });
</script>
<%-include('partials/footer.ejs')%>