<%-include('partials/header.ejs')%>

<div class="successPay">
    <div class="successBoarder">
        <h1>Payment Successful</h1>
        <div class="successIcon">
            <dotlottie-player src="https://lottie.host/100ffaca-a24e-4a82-b953-bbca9815600c/MMqnvaLqsw.json" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
        </div>
        <p>This is an example demo only - not all screens or<br/>features are implemented.</p>
        <div class="almighty-green" onclick="window.location.href='/multi-form'">
            
            <div class="greenbtn">
                <div><a href="/multi-form">Done</a></div>
            </div>
        </div>
    </div>
</div>

<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
<%-include('partials/footer.ejs')%>