<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/styles/multi.css">
    <link rel="stylesheet" href="/styles/lead.css">
    <link rel="stylesheet" href="/styles/form2.css">
    <link rel="stylesheet" href="/styles/form3.css">
    <link rel="stylesheet" href="/styles/form4.css">
    <link rel="stylesheet" href="/styles/form5.css">
    <link rel="stylesheet" href="/styles/form8.css">
    
    
</head>
<body>
    <form action="/submit-step/1" id="form1" method="post">
        <div class="first-form">
            <div>
                <h4>Personal Detials</h4>
            </div>
            <div class="two-column-forms">
                <div class="form-group">
                    <label for="pob">Place of Birth</label>
                    <input type="text" class="form-control" id="pob" name="pob" value="<%= formData.pob || '' %>" required>
                </div>
                <div class="form-group-drop">
                    <label for="religion">Religion</label>
                    <div class="custom-select-wrapper">
                        <select name="religion" id="religion" class="list-control">
                            <option value="christainity">christainity</option>
                            <option value="islam">islam</option>
                            <option value="hinduism">hinduism</option>
                        </select>
                        <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                            <circle cx="11.5" cy="11.5" r="11.5" fill="#FF6606"/>
                            <path d="M11 16L17.0622 10H4.93782L11 16Z" fill="white"/>
                        </svg> 
                    </div>
                    
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    <div class="custom-select-wrapper">
                        <select name="gender" id="gender" class="list-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                        </select>
                        <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                            <circle cx="11.5" cy="11.5" r="11.5" fill="#FF6606"/>
                            <path d="M11 16L17.0622 10H4.93782L11 16Z" fill="white"/>
                        </svg>
                        <!-- <input type="date" class="form-control" id="dob" name="dob" required> -->
                    </div>
                </div>
                <div class="form-group">
                    <label for="homeAddress">Home Address</label>
                    <input type="text" class="form-control" id="homeAddress" name="homeAddress" required>
                </div>
                <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" id="state" name="state" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <div class="custom-select-wrapper">
                        <select name="city" id="city" class="list-control">
                            <option value="lagos">Lagos</option>
                            <option value="abuja">Abuja</option>
                            <option value="portharcourt">Port Harcourt</option>
                            <option value="ibadan">Ibadan</option>
                        </select>
                        <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                            <circle cx="11.5" cy="11.5" r="11.5" fill="#FF6606"/>
                            <path d="M11 16L17.0622 10H4.93782L11 16Z" fill="white"/>
                        </svg>
                    </div>
                </div>
                <div class="form-group">
                    <label class="file-upload">
                        Upload your passport photograph
                        <div class="file-box">
                          <input type="file" id="file" hidden>
                          <span class="file-name" id="file-name">No file chosen</span>
                          <button type="button" id="upload-btn">Upload</button>
                        </div>
                    </label>
                </div>
                <div class="form-group upload">
                    <label class="file-upload">
                        Upload your Signature
                        <div class="file-box">
                          <input type="file" id="file" hidden>
                          <span class="file-name" id="file-name">No file chosen</span>
                          <button type="button" id="upload-btn">Upload</button>
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div class="end-form">
            <a href="#">Save and Continue Later</a>
            <button type="submit" class="inc-btn" id = "next1">Proceed</button>
        </div>
    </form>
    <script src="/js/step.js" defer></script>
    <script src="/js/Multi.js"></script>
</body>
</html>