.more-beneficiary {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 15px 70px;
}

.more-beneficiary a {
    color: #353535;
    font-family: CircularStd;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: none;
    /* text-decoration-style: solid; */
    /* text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font; */
}

.circle {
    /* fill: #FFF;
    stroke-width: 1px;
    stroke: #7A7C87; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #ccc; 
    border-radius: 50%; 
    width: 28px;
    height: 28px;
    position: relative;
    right: 10px;
    top: 8px;
}
.circle span {
    color: #7A7C87;
    font-family: Raleway;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

