*{
    margin: 0;
    padding: 0;
}

.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 10px; */
}

.extra {
    border: 5px solid #fff;
    background: #fff;
}

.progress-fix span {
    position: absolute;
    /* left: 0px; */
    top: 228px;
    width: 82%;
    height: 3px;
    background: rgba(62, 62, 62, 0.50);
    z-index: -1;
    transform: translateY(-50%);
}


.form {
     display: none; 
}
.form.active {
     display: block;
}
.step { 
    background-color: #fff;
    /* margin: 10px; */

    display: inline-block; 
    border: 2px solid #ccc; 
    border-radius: 50%; 
    width: 35px;
    height: 35px;
    text-align: center; 
    line-height: 30px;
    margin: 5px;
}


.step.active { 
    border-color: orange; 
    /* color: orange;  */
}

.pre-active {
    background-color: #f26522;
    border-color: #f26522;
    color: #fff;
}

.progress-bar { 
    border-radius: 10px;
    height: 10px; 
    background: #f26522; 
    width: 0; 
    transition: width 0.3s; 
}
.progress-container { 
    border-radius: 10px;
    width: 100%; 
    background: #eee; 
    height: 10px; 
    margin: 20px 0; 
}

.hidden {
    display: none;
} 

.two-column-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
    gap: 1px 50px;
    width: 850px;
    padding: 10px;
    /* border: 10px solid #f2f2f2; */
}

.list-control {
    width: 111%;
    padding: 15px 20px;
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    font-size: 16px;
    transition: border-color 0.3s;

    border-radius: 15px;
    border: 1.5px solid #C6C6C6;;
    background: #FFF;
}

.list-control:focus {
    border-color: #f26522;
    outline: none;
    box-shadow: 0 0 0 2px rgba(242, 101, 34, 0.2);
}

select {
    color: #C6C6C6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; /* 162.5% */
    letter-spacing: 0.15px;
}

.form-group {
    margin: 0 5px 15px;
}

.form-group-drop {
    margin-left: 10px;
}
.form-group-drop select {
    width: 109.5%;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
  }
  
  .custom-select-wrapper select {
    /* width: 100%;
    padding: 10px; */
    padding-top: 2px;
    height: 54px;
    appearance: none;         /* Removes default arrow in modern browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    /*  */
  }
  
  .dropdown-icon {
    position: absolute;
    pointer-events: none;     /* Allows clicking through to select */
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: #333;
  }

.file-box {
    border: 2px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-top: 6px;
    height: 20px;
    width: 100%;
  }
  
  .file-name {
    color: #888;
    padding-left: 10px;
    line-height: 20px;
  }
  
  #upload-btn {
    position: relative;
    left: 22px;
    height: 54px;
    width: 120px;
    border-radius: 10px;
    border: 1px solid #7F8B94;
    background: #7f8b944d;
    
    /* padding: 8px 16px; */
    cursor: pointer;
    
    /* color: #5C6B7E; */
    font-family: CircularStd;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 2px; 173.333% */
    /* letter-spacing: 0.15px; */
  }
  
.end-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 60px;

    margin-top: 60px;
    margin-right: 60px;
}

.end-form a{
    color: #353535;
    font-family: CircularStd;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.inc-btn{
    /* color: #FFF; */
    /* text-align: center; */
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: CircularStd;
    /* font-size: 18px; */
    font-style: normal;
    /* font-weight: 700; */
    /* line-height: 20px; 111.111% */

    /* fill: #FF6606; */

    width: 196px;
    height: 56px;
    /* height: 40px; */
    background-color: #FF6606;
    color: white;
    border: none;
    border-radius: 4px;
    /* padding: 22px 35px; */
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
    text-align: center;
    font-weight: 500;
}